@{
    ViewBag.Title = "Games";
}

<h2>IN PROGRESS</h2>
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-3">
        @Ajax.ActionLink("Create Game", "Create", new AjaxOptions()
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "create-game"
   })
        <div id="create-game">

        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
