body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#clubs {
    height: 30px;
    width: 1000px;
    margin: 30px auto;
}

    #clubs ul {
        list-style-type: none;
        height: 30px;
        width: 1000px;
        margin: 0;
        padding: 0;
    }

        #clubs ul li {
            float: left;
            display: inline;
            height: 30px;
            width: 30px;
            margin-left: 19px;
            margin-bottom: 10px;
            position: relative;
        }

    #clubs li a {
        display: block;
        margin: 0 auto;
        height: 30px;
    }

        #clubs li a img {
            height: 30px;
            width: 30px;
        }

    #clubs .big {
        width: 70px;
        height: 70px;
    }

    #clubs li a .big {
        display: none;
    }

    #clubs li a:hover .big {
        display: block;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 1;
    }

.name, .team, .price {
    display: block;
    text-align:center;
    font-weight: bold;
    color: white;
}

#pitch {
    background: url(../Images/pitch.png) no-repeat center;
}

#pitch tr td {
    width: 90px;
    height: 120px;
    padding-top: 45px;
}

#matches {
    margin-top: 10px;
}

#loading {
    display: none;
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}

#current-fixtures td:first-child{
    text-align:right;
}

#current-fixtures td:nth-child(2){
    text-align:center;
}

.start-schedule {
    font-weight:bold;
    font-style:italic;
    color:#428bca;
}