@model FantasyStatsApp.Models.GameModels.PlayerGameViewModel[]

@using (Ajax.BeginForm("ConfirmTransfers", "GameInfo", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "transfers",
    OnFailure = "error",
    OnSuccess = "success"
}))
{
    @Html.EditorFor(model => model)
    <div class="form-actions no-color">
        <input type="submit" value="Confirm Transfers" class="btn btn-success" />
    </div>
}

<div id="error-message" class="text-danger"></div>