<div class="navbar-collapse collapse text-center">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Pick Team", "PickTeam", "GameInfo")</li>
        <li>@Html.ActionLink("Gameweek Points", "GameweekResult", "GameInfo")</li>
        <li>@Html.ActionLink("Transfers", "Transfers", "GameInfo")</li>
        <li>@Html.ActionLink("Opponent Team", "OpponentTeam", "GameInfo")</li>
    </ul>
</div>
