@model FantasyStatsApp.Models.GameModels.PlayerGameViewModel
@{      
    string src = "/Images/" + @Model.Team + ".png";
    <img src=@src class="kit" alt="@Model.ClubName" title="@Model.ClubName" />
    <span class="name btn-primary">@Model.Name</span>
}