@model IScheduler

@if (@Model == null || @Model.IsShutdown)
{
    <div class="start-schedule">Schedule is turn off!</div>   
}
else
{
     <div class="start-schedule">Data are updated every 2 hours!</div>
}
