@{
    ViewBag.Title = "Midfielders Statistics";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid<FantasyStatsApp.Models.PlayerViewModel>()
    .Name("midfielders")
    .Pageable()
    .Sortable()
    .Filterable()
    .Columns(col =>
            {
                col.Bound(m => m.Name).Title("Player Name");
                col.Bound(m => m.Team).Title("Club");
                col.Bound(m => m.Selected).ClientTemplate("#: Selected #" + "%").Title("Selected"); 
                col.Bound(m => m.Price).Title("Price");
                col.Bound(m => m.Points).Title("Points");
                col.Bound(m => m.PointsPerGame).Title("Points Per Game");
                col.Bound(m => m.PointsPerPrice).Title("Points Per Price");
                col.Bound(m => m.PPPPerMinutes).Title("PPP Per Minutes");
                col.Bound(m => m.PPPPerGame).Title("PPP Per Game");
            })
    .DataSource(data =>
    {
        data.Ajax()
            .ServerOperation(true)
            .PageSize(10)
            .Sort(sort => sort.Add(stat => stat.PointsPerPrice).Descending())
            .Model(m =>
                {
                    m.Id(p => p.Id);
                })
            .Read("ReadMidfielders", "Statistics");
    })
)

